# Neat code solutions

#### Completed

## contains duplicate`

In [ ]:
class Solution:
    def containsDuplicate(self, nums: List[int]) -> bool:
        len1=len(nums)
        len2=len(set(nums))
        if len1==len2:
            return(False)
        else:
            return(True)

## anagram

In [4]:
dict={}
={}
word="anagram"
word2="gramana"

In [5]:
for i,j in zip(word:
    if i not in dict:
        dict[i]=1
    else:
        dict[i]+=1

In [6]:
dict

{'a': 3, 'n': 1, 'g': 1, 'r': 1, 'm': 1}

In [16]:
def func(word,word2):
    list1=[]
    list2=[]
    if len(word)==len(word2):
        for i,j in zip(word,word2):
            list1.append(ord(i))
            list2.append(ord(j))
        return(sorted(list1)==sorted(list2))
    else:
        return(False)

In [18]:
func("anagrmn","gramana")

False

In [10]:
list1=[12,2,2]
list2=[2,2,12]
sorted(list1)!=sorted(list2)

False

In [27]:
def func(s,t):
    dict1={}
    for i in s:
        if i not in dict1:
            dict1[i]=1
        else:
            dict1[i]+=1
    n=0
    for i in t:
        if i in dict1:
            n+=1

In [26]:
func("anagrma","gramana")

{'a': 3, 'n': 1, 'g': 1, 'r': 1, 'm': 1} {'g': 1, 'r': 1, 'a': 3, 'm': 1, 'n': 1}

True

### addition of two num

In [283]:
arr

[2, 7, 11, 15]

In [376]:
def func(nums,target):
    list=[]
    for i,j in enumerate(nums):
        if len(list) != 0:
            return(list[0])
            break;
        else:
            track=0
            for k in nums[i+1:]:
                temp=0
                temp=j+k
                if temp==target:
                    list.append([i,track+1+i])
                    break;
               
                track+=1
            print(track)

In [381]:
func([7,0,0,11],0)

3
0

[1, 2]

In [38]:
def twoSum(nums,target):        
    for i,j in enumerate(nums):
        if (target-j) in nums and nums.index(target-j)!=i:
            return[i,nums.index(target-j)]
            break;

In [39]:
twoSum([7,0,0,11],18)

[0, 3]

# group anagrams

#### Struggles :D

In [40]:
strs = ["eat","tea","tan","ate","nat","bat"]

In [115]:
dict={}
list=[]
dict1={}
count=0
for i in strs:
    a=sorted(i)
    temp="".join(a)
    if str([temp]) not in  dict:
        dict[str([temp])]=count
        count+=1
    else:
        value= dict[str([temp])]
        print(value)

0
0
1

In [97]:
dict

{"['aet']": 0, "['ant']": 1, "['abt']": 2}

In [196]:
dict={}
list=[]
dict1={}
count=0
for i in strs:
    a=sorted(i)
    temp="".join(a)
    if [temp] not in  dict.values():

        dict[count]=[temp]
        dict1[count]=[i]
        count+=1
    else:
        pass

In [151]:
dict

{0: ['aet'], 1: ['ant'], 2: ['abt']}

In [137]:
dict={}
list=[]
dict1={}
count=0
for i in strs:
    a=sorted(i)
    temp="".join(a)
    if str([temp]) not in  dict:
        dict[str([temp])]=count
        count+=1
    else:
        
        value= dict[str([temp])]
        print(value)

0
0
1

In [138]:
dict

{"['aet']": 0, "['ant']": 1, "['abt']": 2}

In [177]:
b={"aet":["eat"],"['ate']":1}

In [178]:
b["aet"].append("set")

In [179]:
b

{'aet': ['eat', 'set'], "['ate']": 1}

### final code

In [197]:
dict={}
for i in strs:
    a=sorted(i)
    temp="".join(a)
    if temp not in  dict:
        dict[temp]=[i]
    else:
         dict[temp].append(i)

In [200]:
dict.values()

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

## Top K Frequent Elements

In [95]:
nums=[1,1,1,2,2,3,3,3,3,3,3,3,3]
k=2
dict={}
for i in nums:
    if i not in dict:
        dict[i]=1
    else:
        dict[i]+=1

var=sorted(dict.items(),key=lambda x:x[1],reverse=True)
list=[]
for j in range(len(var)):
    if j == k:
        break;
    else:
        list.append(var[j][0])

In [96]:
list

[3, 1]

In [128]:
nums=[1,1,1,2,2,3,3,3,3,3,3,3,3]
k=2
if k == len(nums):
    print( nums)
else:
    dict={}
    for i in nums:
        if i not in dict:
            dict[i]=1
        else:
            dict[i]+=1

    var=sorted(dict.items(),key=lambda x:x[1],reverse=True)
    dict={}
    for j in range(len(var)):
        if j == k:
            break;
        else:
            dict[j]=(var[j][0])

[1, 1]

In [129]:
dict.values()

dict_values([3, 1])

Approach is to limit the dict size and remove add elements if the next big occurs

In [122]:
# nums=[1,1,1,2,2,3,3,3,3,3,3,3,3]
# k=2
# dict={}
# n=0
# for i in nums:
    
#     if n <= k:
#         print(n,k)
#         if i not in dict:
#             dict[i]=1
#             n+=1
#         else:
#             dict[i]+=1
    
# dict

### Product of Array Except Self

Input: nums = [1,2,3,4]
Output: [24,12,8,6]

TRY 1: memory limit exceeded

In [185]:
import math

In [214]:
nums = [0,0]
prod=1
dict={}
extra=nums.copy()
for j,i in enumerate(nums):
    extra.remove(i)
    dict[j]=(extra)
    extra=nums.copy()
dict2={}
n=0
for i in dict.values():
    dict2[n]=(math.prod(i))
    n+=1
dict2.values()

In [215]:
dict

{0: [0], 1: [0]}

###    PROPER ANSWER

In [43]:
nums = [1,2,3,4]
prefix=[]
postfix=[]
n=1
ite=1
ite2=1
for i,j in  enumerate(nums):
    ite*=j
    ite2*=nums[len(nums)-n]
    prefix.append(ite)
    postfix.append(ite2)
    n+=1
postfix.reverse()
final_list=[]
for i,j in  enumerate(nums):
    if i == 0:
        final_list.append(postfix[i+1])
    elif i == (len(nums)-1):
        final_list.append(prefix[i-1])
    else:
        final_list.append(postfix[i+1]*prefix[i-1])

In [44]:
final_list

[24, 12, 8, 6]

In [25]:
#peeche prefix

In [47]:
nums = [-1,1,0,-3,3]
prefix=[]
postfix=[]
n=1
ite=1
ite2=1
for i,j in  enumerate(nums):
    ite*=j
    ite2*=nums[len(nums)-n]
    prefix.append(ite)
    postfix.append(ite2)
    n+=1
postfix.reverse()
final_list=[]
for i,j in  enumerate(nums):
    if i == 0:
        final_list.append(postfix[i+1])
    elif i == (len(nums)-1):
        final_list.append(prefix[i-1])
    else:
        final_list.append(postfix[i+1]*prefix[i-1])

final_list

[0, 0, 9, 0, 0]

In [57]:
nums = [1,2,3,4]

postfix=[]
n=1
ite=1
ite2=1
for i,j in  enumerate(nums):
    
    ite2*=nums[len(nums)-n]
    postfix.append(ite2)
    n+=1

In [58]:
postfix#,ite*=j

[4, 12, 24, 24]

In [59]:
postfix.reverse()
postfix

[24, 24, 12, 4]

In [60]:
prefix

[1, 2, 6, 24]

In [70]:
nums = [-1,1,0,-3,3]
postfix=[]
n=1
ite2=1
for i,j in  enumerate(nums):
    
    ite2*=nums[len(nums)-n]
    postfix.append(ite2)
    n+=1
postfix.reverse()
final_list=[]
ite=1
for i,j in  enumerate(nums):
    if i == 0:
        final_list.append(postfix[i+1])
    elif i == (len(nums)-1):
        final_list.append(ite)
    else:
        final_list.append(postfix[i+1]*ite)
    ite*=j

0

In [71]:
final_list

[0, 0, 9, 0, 0]

## VALID SUDOKU

In [68]:
sudoku=[["5","3",".",".","7",".",".",".","."]
,["6",".",".","1","9","5",".",".","."]
,[".","9","8",".",".",".",".","6","."]
,["8",".",".",".","6",".",".",".","3"]
,["4",".",".","8",".","3",".",".","1"]
,["7",".",".",".","2",".",".",".","6"]
,[".","6",".",".",".",".","2","8","."]
,[".",".",".","4","1","9",".",".","5"]
,[".",".",".",".","8",".",".","7","9"]]

In [69]:
list(zip(sudoku))

[(['5', '3', '.', '.', '7', '.', '.', '.', '.'],),
 (['6', '.', '.', '1', '9', '5', '.', '.', '.'],),
 (['.', '9', '8', '.', '.', '.', '.', '6', '.'],),
 (['8', '.', '.', '.', '6', '.', '.', '.', '3'],),
 (['4', '.', '.', '8', '.', '3', '.', '.', '1'],),
 (['7', '.', '.', '.', '2', '.', '.', '.', '6'],),
 (['.', '6', '.', '.', '.', '.', '2', '8', '.'],),
 (['.', '.', '.', '4', '1', '9', '.', '.', '5'],),
 (['.', '.', '.', '.', '8', '.', '.', '7', '9'],)]

In [70]:
# for i in range(9):
#     arr=[]
#     for j in sudoku:
#         if j[i] !=".":
#             arr.append(j[i])
#     print(arr)

#### for rows and columns

In [71]:
def valid(sudoku):
    for i,j in zip(sudoku,range(9)):
        ar=[]
        arr=[]
        for k,l in zip(i,sudoku):  
            if k != ".":
                ar.append(k)
            if l[j] != ".":
                arr.append(l[j])
        if len(ar)!=len(set(ar)):
            print(False)
            break;
        if len(arr)!=len(set(arr)):
            print(False)
            break;
        return True

In [72]:
valid(sudoku)

True

#### for 3x3 part

In [86]:
ite=1
array=[]
temp=[]
num=0
for i in [3,6,9]:
    for j in sudoku:
        if ite%3==0:
            temp.extend(j[num:i])
            array.append(temp)
            temp=[]
        else:
            temp.extend(j[num:i])
        ite+=1
    num=i

In [85]:
array

[['5', '3', '.', '6', '.', '.', '.', '9', '8'],
 ['8', '.', '.', '4', '.', '.', '7', '.', '.'],
 ['.', '6', '.', '.', '.', '.', '.', '.', '.'],
 ['.', '7', '.', '1', '9', '5', '.', '.', '.'],
 ['.', '6', '.', '8', '.', '3', '.', '2', '.'],
 ['.', '.', '.', '4', '1', '9', '.', '8', '.'],
 ['.', '.', '.', '.', '.', '.', '.', '6', '.'],
 ['.', '.', '3', '.', '.', '1', '.', '.', '6'],
 ['2', '8', '.', '.', '.', '5', '.', '7', '9']]

#### full solve

In [99]:
sudoku=[["5","3",".",".","7",".",".",".","."]
,["6",".",".","1","9","5",".",".","."]
,[".","9","8",".",".",".",".","6","."]
,["8",".",".",".","6",".",".",".","3"]
,["4",".",".","8",".","3",".",".","1"]
,["7",".",".",".","2",".",".",".","6"]
,[".","6",".",".",".",".","2","8","."]
,[".",".",".","4","1","9",".",".","5"]
,[".",".",".",".","8",".",".","7","9"]]

In [100]:
def valid(board):
    ite=1
    array=[]
    temp=[]
    num=0
    for i in [3,6,9]:
        for j in board:
            if ite%3==0:
                temp.extend(j[num:i])
                array.append(temp)
                temp=[]
            else:
                temp.extend(j[num:i])
            ite+=1
        num=i
    for i,j,three in zip(board,range(9),array):
            ar=[]
            arr=[]
            temp=[]
            for k,l,sec_three in zip(i,board,three):  
                if k != ".":
                    ar.append(k)
                if l[j] != ".":
                    arr.append(l[j])
                if sec_three != ".":
                    temp.append(sec_three)
            if len(ar)!=len(set(ar)):
                return(False)
                break;
            if len(arr)!=len(set(arr)):
                return(False)
                break;
            if len(temp)!=len(set(temp)):
                return(False)
                break;
    return(True)

In [101]:
valid(sudoku)

True

In [107]:
5//3

1

### by leat video solve

In [114]:
for i in range(9):
    print(i//3)
    print(sudoku[i//3][:3])

0
['5', '3', '.']
0
['5', '3', '.']
0
['5', '3', '.']
1
['6', '.', '.']
1
['6', '.', '.']
1
['6', '.', '.']
2
['.', '9', '8']
2
['.', '9', '8']
2
['.', '9', '8']

In [116]:
sudoku
#on pause

[['5', '3', '.', '.', '7', '.', '.', '.', '.'],
 ['6', '.', '.', '1', '9', '5', '.', '.', '.'],
 ['.', '9', '8', '.', '.', '.', '.', '6', '.'],
 ['8', '.', '.', '.', '6', '.', '.', '.', '3'],
 ['4', '.', '.', '8', '.', '3', '.', '.', '1'],
 ['7', '.', '.', '.', '2', '.', '.', '.', '6'],
 ['.', '6', '.', '.', '.', '.', '2', '8', '.'],
 ['.', '.', '.', '4', '1', '9', '.', '.', '5'],
 ['.', '.', '.', '.', '8', '.', '.', '7', '9']]

## Longest Consecutive Sequence

In [250]:
#nums = [0,3,7,2,5,8,4,6,0,1,56,55,54,53,56,57,58,59,60,61,62,63,10,12,11,13]
#nums= [100,4,200,1,3,2]
nums = [0,3,7,2,5,8,4,6,0,1]

In [251]:
nums.sort()

In [252]:
nums

[0, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [253]:
len(nums)

10

In [254]:
k=0
n=0
arr=[]
for i,j in enumerate(nums):
    dif=j-k
    if i !=0 :
        if dif ==1:
            n+=1
        else:
            arr.append(n)
            n=0
            n+=1
    if i == (len(nums)-1):
            print(i)
            arr.append(n)
    k=j

9

In [437]:
nums = [0,3,7,2,5,8,4,6,0,1,56,55,54,53,56,57,58,59,60,61,62,63,10,12,11,13]
#nums= [100,4,200,1,3,2]
#nums = [0,3,7,2,5,8,4,6,0,1]
#nums=[9,1,-3,2,4,8,3,-1,6,-2,-4,7]

In [451]:
nums=set(nums)
nums=list(nums)
nums.sort()

In [450]:
nums=[2,-7,-6,0,4,2,-7,2,2,4,2,-9,2,-4,7,7,-8,6,7,-2,-6,9,3,3,5]

In [455]:
nums

[-9, -8, -7, -6, -4, -2, 0, 2, 3, 4, 5, 6, 7, 9]

In [479]:

k=0
n=0
arr=[]
for i,j in enumerate(nums):
    dif=abs(j-k)
   
    if i ==0:
        #print("value of k" ,k)
        if len(nums)==1:
            arr.append(1)
        else:
            n+=1    
    elif i == (len(nums)-1):
        print(dif)
        if dif ==1 or dif==0:
            #print(dif)
            n+=1
            arr.append(n)
        else:
            arr.append(n)
    else:
        #print(dif)
        if dif ==1 or dif==0:
            #print(n)
            n+=1
        else:
            arr.append(n)
            n=0
            n+=1
    k=j

2

In [480]:
nums

[-9, -8, -7, -6, -4, -2, 0, 2, 3, 4, 5, 6, 7, 9]

In [481]:
max(arr)

6

In [482]:
arr

[4, 1, 1, 1, 6]

In [ ]:

k=0
n=0
arr=[]
for i,j in enumerate(nums):
    dif=abs(j-k)
   
    if i ==0:
        #print("value of k" ,k)
        if len(nums)==1:
            arr.append(1)
        else:
            n+=1    
    elif i == (len(nums)-1):
        print(dif)
        if dif ==1 or dif==0:
            #print(dif)
            n+=1
            arr.append(n)
        else:
            arr.append(n)
    else:
        #print(dif)
        if dif ==1 or dif==0:
            #print(n)
            n+=1
        else:
            arr.append(n)
            n=0
            n+=1
    k=j