#### 125. Valid Palindrome

In [56]:
s = "A man, a plan, a canal: Panama"

In [51]:
s=s.lower()
string=""
r_str=""
for i,j in zip(s,s[::-1]):
    if (ord(i)<=122 and ord(i)>=97) or (ord(i)<=57 and ord(i)>=48):
        string+=i
    if (ord(j)<=122 and ord(j)>=97) or (ord(j)<=57 and ord(j)>=48):
        r_str+=j
string==r_str

True

In [52]:
string,r_str

('0amanaplanacanalpanama0', '0amanaplanacanalpanama0')

#### second

In [70]:
string=""

In [77]:
s="areej"
for i in s:
    if ((ord(i)<=122 and ord(i)>=97) or (ord(i)<=57 and ord(i)>=48)):
        string+=i

In [78]:
s="areej"
for i in s:
    if ((ord(i)<=122 and ord(i)>=97) or (ord(i)<=57 and ord(i)>=48)):
        string+=i
for i ,j in zip(string,string[::-1]):
    if i != j:
        return(False)
        break
return(True)

False

### third

In [92]:
s = "A man, a plan, a canal: Panama"
s=s.lower()
string=""
r_str=""

for i,j in zip(s,s[::-1]):
    if (ord(i)<=122 and ord(i)>=97) or (ord(i)<=57 and ord(i)>=48):
        string+=i
        print(i)
        print("____")
    if (ord(j)<=122 and ord(j)>=97) or (ord(j)<=57 and ord(j)>=48):
        r_str+=j
        print(j)
    else:
        if string != r_str:
            pass
string==r_str

a
____
a
m
m
____
a
a
____
n
n
____
a
p
a
____
l
p
____
a
l
____
n
a
____
a
n
____
c
a
a
____
c
____
n
a
____
a
n
____
l
a
____
p
l
____
a
p
____
a
____
n
n
____
a
a
____
m
m
____
a
____
a

True

In [80]:
s

'areej'

In [89]:
s="A man, a plan, a canal: Panama"
for i in s[::-1]:
    if ((ord(i)<=122 and ord(i)>=97) or (ord(i)<=57 and ord(i)>=48)):
        print(i)

a
m
a
n
a
l
a
n
a
c
a
n
a
l
p
a
n
a
m

## 42. Trapping Rain Water (HARD)

Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6
Explanation: The above elevation map (black section) is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain water (blue section) are being trapped.

In [ ]:
agr baad mein bara to pechle valay ke jita water
agr pechle mein bara to baad valay ke jita water

In [22]:

arr=[1,0,2,1,0,1,3,2,1,2,1]

In [14]:
for i,j in enumerate(arr):
    print(arr[i:])
    temp=j
    for k in arr[i:]:
        if k > temp:
            if temp <= k:
                print(k,j)
                break;

[0, 1, 0, 2, 1, 0, 1, 3, 2, 2, 2, 1]
1 0
[1, 0, 2, 1, 0, 1, 3, 2, 2, 2, 1]
2 1
[0, 2, 1, 0, 1, 3, 2, 2, 2, 1]
2 0
[2, 1, 0, 1, 3, 2, 2, 2, 1]
3 2
[1, 0, 1, 3, 2, 2, 2, 1]
3 1
[0, 1, 3, 2, 2, 2, 1]
1 0
[1, 3, 2, 2, 2, 1]
3 1
[3, 2, 2, 2, 1]
[2, 2, 2, 1]
[2, 2, 1]
[2, 1]
[1]

In [2]:

arr=[1,0,2,1,0,1,3,2,1,2,1]

In [17]:
drop=0
list=[]
loop=0
for i,j in enumerate(arr):
   # print(arr[i:])
    temp=j
    if i not in list:
        for k,l in enumerate(arr[i+1:]):
            if temp <= l:
                break;
            else:
                list.append(k+loop)
                drop+=temp-k
    
    loop+=1

1
0
2
1
2

In [55]:

arr=[4,2,0,3,2,5] 
final_drop=0
drop=0
list=[]
loop=0
for i,j in enumerate(arr):
    #print(arr[i+1:])
    list2=[]
    
    drop=0
    loop+=1
    temp=j
    if i not in list:
        for k,l in enumerate(arr[i+1:]):
            
            if temp <= l:
                break;
            else:
                if k == len(arr[i+1:])-1:
                    print(k)
                    list2=[]
                    drop=0
                else:
                    #print(k+loop,arr[i+1:],temp)
                    list2.append(k+loop)
                    drop+=(temp-l)
                    #print(drop)
        print(drop)
        final_drop+=drop
        list.extend(list2)

9
0

In [56]:
list,final_drop

([1, 2, 3, 4], 9)

In [32]:
drop

11